name: Release with cargo-dist

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Run cargo-dist
        uses: axodotdev/cargo-dist/actions/release@v0.30.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
